body {
    font-family: Arial, sans-serif;
    background-color: #EAF6FF;
    margin: 0;
    padding: 20px;
    text-align: center;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
   
    max-width: 800px;
    margin: 0 auto;
}
.header {
    margin-bottom: 20px;
}
.header img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}
.team-info, .powers, .hero-table, .quote {
    margin: 20px 0;
    text-align: center;
}
h2{
    color: #0056b3;
    font-size: 40px;
}
.team-info {
    background-color: #0056b3;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
.hero-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.hero-table th, .hero-table td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}
.quote {
    font-style: italic;
    color: #0056b3;
}
.marvel-link a {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}
.marvel-link a:hover {
    text-decoration: underline;
}
ul, ol{
    text-align: left;
}
th{
    background-color: #0056b3;
}
h3{
    color: #b4672883;
    font-size: 40px;
}
.first{
    color:white;
}